# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules
.env

google.json
try12.json

mongo.js
linksAll.json
500pxBad.json
500px.js