# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/no need
data.json
/Photographers-Directory
/Photographers-Directory-JSON
/Photographers-Groups
data1.json
/Photographers-Groups-JSON
flickr_daily/AllGroups.json
data1.json
flickr_daily/data1.json
flickr_daily/data.json
